<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Select Session and Class</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="demo-form2" class="form-horizontal form-label-left" [formGroup]="queryForm" (ngSubmit)="onSubmit()">
              <div style="margin-top: 10px" class="alert alert-danger" *ngIf="fetchError">{{fetchErrorMessage}}</div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="session">Session <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="select2_single form-control" tabindex="-1" name="session" id="session" formControlName="session">
                    <option disabled>Select a session</option>
                    <option *ngFor="let sess of sessions" value="{{sess}}">{{sess}}</option>
                  </select>
                  <div style="margin-top: 10px" class="alert alert-danger" *ngIf="queryForm.controls['session'].invalid && queryForm.controls['session'].touched">Please select a session</div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="class-name">Class <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="select2_single form-control" tabindex="-1" name="className" id="class-name" formControlName="className">
                    <option disabled selected>Select a class</option>
                    <option *ngFor="let c of classes" value="{{c.name}}">{{c.name}}</option>
                  </select>
                  <div style="margin-top: 10px" class="alert alert-danger" *ngIf="queryForm.controls['className'].invalid && queryForm.controls['className'].touched">Please select a class</div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <!--<button class="btn btn-primary" type="button">Cancel</button>-->
                  <!--<button class="btn btn-primary" type="reset">Reset</button>-->
                  <button type="submit" class="btn btn-success" [disabled]="queryForm.invalid">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <sms-view-students-datatable [students]="students" *ngIf="students.length>0" [className]="selectedClass"></sms-view-students-datatable>
  </div>
</div>

